@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  min-height: 100%;
  font-size: 100%;
  color: #ffffff;
  line-height: 1.4em;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  text-decoration: none;
  list-style: none;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

::selection {
  background-color: #d3252b;
  color: #000000;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4196078431);
  height: 135px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.25);
}

input:focus,
select:focus,
select,
input.form-control:focus {
  outline-color: #d3252b;
  border: 3px solid rgba(255, 255, 255, 0.3019607843);
  box-shadow: 0 0 1px 0 black;
}

.form-check-input:checked {
  background-color: #d3252b !important;
}

.form-check-input:checked,
.form-check-input:focus {
  border: none !important;
}

.form-check-input {
  outline: none !important;
}

.form-check-input:focus {
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2) !important;
}

@font-face {
  font-family: "telex";
  src: url(/assets/fonts/telex/Telex-Regular.ttf);
}
@font-face {
  font-family: "akira-bold";
  src: url(/assets/fonts/akira/Akira\ Bold.ttf);
}
#main__carousel {
  border: 35px solid #ffffff;
}
#main__carousel img {
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  #main__carousel {
    border: 15px solid #ffffff !important;
  }
}

@media (min-width: 769px) {
  .desktop-img {
    display: block;
  }
  .mobile-img {
    display: none;
  }
}
@media (max-width: 768px) {
  .desktop-img {
    display: none;
  }
  .mobile-img {
    display: block;
  }
}
.modal {
  z-index: 1050;
}
.modal .modal-content {
  position: relative;
  width: 500px;
  padding: 35px;
  border: 0 !important;
  border-radius: 0 !important;
  background-color: #ffffff;
}
.modal .modal-content .btn-close {
  position: absolute;
  top: 17.5px;
  right: 17.5px;
  height: 0.5em;
  width: 0.5em;
  z-index: 5;
}
.modal .modal-content .btn-close:focus {
  box-shadow: none;
}
.modal .modal-content .form-group {
  margin-bottom: 1.5rem;
}
.modal .modal-content .form-group input {
  margin-top: 0.5rem;
  height: 40px;
  color: #d3252b;
  font-family: "telex", sans-serif;
}
.modal .modal-content .form-group label {
  font-family: "akira-bold", sans-serif;
}
.modal .modal-content .form-check {
  margin-top: 1.5rem;
}
.modal .modal-content .btn__default {
  margin-top: 1rem;
}
.modal .modal-content span {
  margin-top: 1rem;
  font-size: 1.2em;
  font-family: "telex", sans-serif;
  font-style: italic;
}
.modal .modal-content span a {
  color: #d3252b;
}

.btn__colors {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}

.btn__slide__up {
  position: relative;
  padding: 4px 25px;
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  font-size: 0.75rem;
  font-family: "kanit-semibold";
  text-decoration: none;
  transition: all 0.4s;
  overflow: hidden;
}
.btn__slide__up::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  transition: all 0.3s;
  z-index: -12;
}
.btn__slide__up:hover::before {
  transform: translateY(-100%);
}
.btn__slide__up:hover {
  border: 2px solid #d3252b;
  color: #d3252b;
}
.btn__slide__up:focus {
  outline: none;
}

.btn__default {
  width: 100%;
  height: 50px;
  color: #ffffff;
  background-color: #000000;
  outline: none;
  border: 0;
  font-family: "telex", sans-serif;
}
.btn__default:hover {
  background-color: #212121;
}

.search__bar {
  position: relative;
  display: flex;
  flex-direction: row;
}
.search__bar-input {
  height: 50px;
  width: 100%;
  padding-left: 17.5px;
  margin: 17.5px 0 17.5px 17.5px;
  font-family: "telex", sans-serif;
}
.search__bar .hideClear {
  display: none;
}
.search__bar-clear {
  position: absolute;
  top: 26px;
  right: 117.5px;
  background-color: transparent;
  border: none;
}
.search__bar-clear:hover {
  color: #d3252b;
}
.search__bar-button {
  background-color: #ffffff;
  margin: 17.5px 17.5px 0 17.5px;
  height: 50px;
  width: 50px;
}
.search__bar-button:hover {
  color: #d3252b;
}

#container__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25rem;
  background-color: #ffffff;
  height: 540px;
  padding: 1.25rem;
  margin: 17.5px;
  border: 2px solid #000000;
  transition: all 0.4s;
}
@media (max-width: 575px) {
  .card__container {
    height: 97%;
  }
}
.card__container:hover {
  box-shadow: -8px 8px 2px 0 rgba(0, 0, 0, 0.1921568627);
  transform: translate(8px, -8px);
}
@media (max-width: 767px) {
  .card__container:hover {
    box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.1921568627);
    transform: translateY(-8px);
  }
}
.card__container .card__body {
  border-top: 2px solid #000000;
  padding-top: 1.25rem;
}
.card__container .card__body-title {
  font-size: 1.2em;
  font-family: "akira-bold", sans-serif;
}
.card__container .card__body-price {
  color: #d3252b;
  font-size: 1.4em;
  font-family: "telex", sans-serif;
  font-weight: bold;
}
.card__container .card__buttons {
  display: flex;
  flex-direction: row;
}
@media (max-width: 767px) {
  .card__container .card__buttons {
    flex-direction: column;
  }
}
.card__container .card__buttons .mr {
  margin-right: 0.625rem;
}
.card__container .card__buttons .mb {
  margin-top: 0.625rem;
}
.card__container .card__buttons-select {
  background-color: #ffffff;
  width: 100%;
  padding: 5px;
  border: 2px solid #000000;
  font-size: 1.2em;
}
.card__container .card__footer {
  border-top: 2px solid #000000;
  padding-top: 1.25rem;
}
.card__container .card__footer-button {
  padding: 5px;
  width: 100%;
  color: #ffffff;
  background-color: #212121;
  font-size: 1.125em;
  font-family: "telex", sans-serif;
}
.card__container .card__footer :hover {
  background-color: #373737;
}

.filter__price {
  font-family: "akira-bold", sans-serif;
}
.filter__price-button {
  width: 100%;
  height: 50px;
  margin: 17.5px 0 0 0;
  background-color: #ffffff;
  border: 2px solid #000000;
  font-size: 1.2em;
}
.filter__price-button:hover {
  background-color: rgba(0, 0, 0, 0.1882352941);
}
.filter__price .filter__price-menu {
  width: 100%;
  padding: 0;
  border: 2px solid #000000;
  border-radius: 0;
}
.filter__price .filter__price-menu .filter__price-input {
  display: none !important;
}
.filter__price .filter__price-menu .line {
  border: 1px solid black;
}
.filter__price .filter__price-menu .filter__price-label {
  font-size: 1em;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0.625rem;
}
.filter__price .filter__price-menu .filter__price-label:hover {
  background-color: rgba(0, 0, 0, 0.1882352941);
}
.filter__price .filter__price-menu .filter__price-check {
  background-color: rgba(0, 0, 0, 0.1882352941);
}

.filter__category {
  margin-top: 17.5px;
  padding: 17.5px;
  border: 2px solid #000000;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.filter__category-title {
  margin-top: 17.5px;
  margin-bottom: 2.5px;
  font-size: 1.2em;
  font-family: "akira-bold", sans-serif;
}
.filter__category .common {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-top: 2px solid #000000;
  font-size: 1em;
  font-family: "telex", sans-serif;
  padding-top: 5px;
}
.filter__category-product {
  height: 200px;
}
.filter__category-size {
  height: 200px;
}
.filter__category-color {
  height: 200px;
}

@media (max-width: 1400px) {
  .common {
    flex-wrap: wrap !important;
  }
}
.offcanvas {
  width: 500px !important;
  height: 100% !important;
  border: none !important;
  padding-top: 132px;
}
@media (max-width: 768px) {
  .offcanvas {
    width: 100% !important;
  }
}
.offcanvas .button__checkout {
  position: relative;
  margin: 0 17.5px 17.5px 17.5px;
  padding: 10px;
  border: 2px solid #000000;
  color: #000000;
  background-color: #ffffff;
  transition: all 0.4s;
  font-size: 0.85rem;
  font-family: "akira-bold", sans-serif;
}
.offcanvas .button__checkout:hover {
  transition: all 0.2s;
  color: #ffffff;
  background-color: #000000;
}
.offcanvas-header {
  display: flex;
  align-items: baseline;
  padding: 17.5px !important;
}
.offcanvas-header h5 {
  font-size: 1em;
  font-family: "akira-bold";
}
.offcanvas-header .btn-close {
  opacity: 1;
  margin-right: 0;
  font-size: 0.7rem;
  padding: 13.5px;
}
.offcanvas-header .btn-close:hover {
  background-color: rgba(0, 0, 0, 0.1882352941);
}

.offcanvas__card-container {
  height: 100%;
  margin: 17.5px;
  border: 2px solid #000000;
  overflow-y: scroll;
}
.offcanvas__card-container .offcanvas__text {
  margin-top: 17.5px;
  font-size: 0.9rem;
  font-family: "telex", sans-serif;
  text-align: center;
}

.card__cart {
  height: 175px;
  border-bottom: 2px solid #000000;
  margin: 10px;
  position: relative;
}
.card__cart .card__title {
  position: absolute;
  top: 0;
  left: 230px;
  width: 150px;
  display: table-caption;
  font-size: 0.85rem;
  font-family: "telex", sans-serif;
}
.card__cart img {
  width: 50%;
  border-right: 2px solid #000000;
}
.card__cart .card__buttons-remove {
  position: absolute;
  top: 0;
  right: 0;
  height: 33px;
  width: 36.41px;
  background-color: rgba(255, 0, 8, 0.3921568627);
  font-size: 0.85rem;
}
.card__cart .card__buttons-remove:hover {
  background-color: rgba(255, 0, 8, 0.7921568627);
}
.card__cart .card__buttons-remove i {
  pointer-events: none;
}
.card__cart .card__price {
  font-size: 1rem;
  position: absolute;
  right: 112px;
  bottom: -12.2px;
}
.card__cart .card__buttons {
  position: absolute;
  bottom: 10px;
  right: 0;
}
.card__cart .card__buttons-add {
  background-color: #ffffff;
  font-size: 0.85rem;
}
.card__cart .card__buttons-add:hover {
  background-color: rgba(0, 0, 0, 0.1882352941);
}
.card__cart .card__buttons-add i {
  pointer-events: none;
}
.card__cart .card__buttons-counter {
  font-size: 1rem;
  text-align: center;
}
.card__cart .card__buttons-reduce {
  background-color: #ffffff;
  font-size: 0.85rem;
}
.card__cart .card__buttons-reduce:hover {
  background-color: rgba(0, 0, 0, 0.1882352941);
}
.card__cart .card__buttons-reduce i {
  pointer-events: none;
}

#cart__total {
  text-align: end;
  margin: 17.5px;
  font-size: 1rem;
  font-family: "telex", sans-serif;
}

.pagination__custom.active a {
  background-color: #d3252b;
  border: black;
}
.pagination__custom .page-link {
  color: #000000;
}
.pagination__custom :hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: rgb(0, 0, 0) !important;
}

.header__top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.188rem;
  width: 100%;
  background-color: #ffffff;
  z-index: 1046;
}
.header__top .header__top-text {
  position: absolute;
  margin: 0;
  color: #000000;
  font: italic calc(0.8em + 0.2vw) "akira-bold", sans-serif;
  opacity: 0;
  transition: opacity 0.5s;
}

.active__item {
  color: #d3252b !important;
}

.header__sticky {
  position: sticky;
  z-index: 1046;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #000000;
}
.header__sticky #navbar {
  position: relative;
  padding: 25px !important;
  background-color: #000000;
}
.header__sticky #navbar .navbar-nav .nav-link {
  display: inline-block;
  padding: 2px;
  margin: 5px 10px;
  color: #ffffff;
  text-decoration: none;
  font-family: "akira-bold", sans-serif;
  font-size: 1.5em;
}
.header__sticky #navbar .navbar-nav .nav-link:hover {
  color: #d3252b;
}
@media (max-width: 991px) {
  .header__sticky #navbar .nav__item-margin {
    margin-top: 5rem;
  }
}
.header__sticky #navbar .navbar__dropdown__menu {
  width: 100%;
  margin-top: 0;
  background-color: #000000;
  border: solid 10px #ffffff;
  border-radius: 0;
}
.header__sticky #navbar .navbar__dropdown__menu h3 {
  margin: 10px 0 15px 0;
  color: #ffffff;
  font-family: "akira-bold", sans-serif;
  font-size: 1.35em;
}
.header__sticky #navbar .navbar__dropdown__menu .list-group {
  display: inline-block;
  --bs-list-group-bg: $black;
}
.header__sticky #navbar .navbar__dropdown__menu .list-group a {
  color: white;
  font-family: "akira-bold", sans-serif;
  font-size: 1.25em;
  position: relative;
}
.header__sticky #navbar .navbar__dropdown__menu .list-group a:hover {
  color: #d3252b;
}
.header__sticky #navbar .navbar__dropdown__menu .list-group a::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.header__sticky #navbar .navbar__dropdown__menu .list-group a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.header__sticky #navbar #navbar__logo {
  position: absolute;
  top: 25px;
  left: 35px;
}
@media (max-width: 768px) {
  .header__sticky #navbar #navbar__logo {
    left: 15px;
  }
}
.header__sticky #navbar #navbar__logo #navbar__logo-befaster {
  background: url(/assets/images/logo/logo2.svg) center center/cover;
  width: 50px;
  height: 50px;
}
.header__sticky #navbar #navbar__logo #navbar__logo-befaster:hover {
  background-image: url(/assets/images/logo/logo1.svg);
  filter: drop-shadow(0 0 5px rgba(145, 0, 0, 0.745));
}
.header__sticky #navbar #navbar__expand {
  position: absolute;
  right: 16px;
  top: 12px;
}
@media (max-width: 768px) {
  .header__sticky #navbar #navbar__expand {
    right: 0px;
  }
}
.header__sticky #navbar #navbar__expand button i {
  font-size: 40px;
  color: #ffffff;
}
@media (min-width: 992px) {
  .header__sticky #navbar #navbar__expand {
    display: none;
  }
}
.header__sticky #navbar #navbar__cart {
  position: absolute;
  top: 12px;
  right: 103px;
}
@media (max-width: 991px) {
  .header__sticky #navbar #navbar__cart {
    right: 154px;
  }
}
@media (max-width: 768px) {
  .header__sticky #navbar #navbar__cart {
    right: 140px;
  }
}
.header__sticky #navbar #navbar__cart i {
  font-size: 2.5em;
  color: #ffffff;
  z-index: 999;
}
.header__sticky #navbar #navbar__cart i:hover {
  color: #d3252b;
}
.header__sticky #navbar #navbar__cart .navbar__cart-badge {
  position: absolute;
  top: 16px;
  right: 4px;
  width: 22px;
  height: 22px;
  color: #ffffff;
  background-color: #d3252b;
  border-radius: 50%;
  font-size: 0.8rem;
}
.header__sticky #navbar #navbar__cart .navbar__cart-badge.jump-shaking {
  animation: jump-shaking 1s infinite;
}
.header__sticky #navbar #navbar__user {
  position: absolute;
  top: 12px;
  right: 23px;
}
@media (max-width: 991px) {
  .header__sticky #navbar #navbar__user {
    right: 85px;
  }
}
@media (max-width: 768px) {
  .header__sticky #navbar #navbar__user {
    right: 70px;
  }
}
.header__sticky #navbar #navbar__user i {
  font-size: 2.5em;
  color: #ffffff;
  z-index: 999;
}
.header__sticky #navbar #navbar__user i:hover {
  color: #d3252b;
}

.jump-shaking::before {
  animation: jump-shaking 1s infinite;
}

@keyframes jump-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateY(-5px);
  }
  35% {
    transform: translateY(-5px) rotate(17deg);
  }
  55% {
    transform: translateY(-5px) rotate(-17deg);
  }
  65% {
    transform: translateY(-5px) rotate(17deg);
  }
  75% {
    transform: translateY(-5px) rotate(-17deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  padding: 3.125rem;
  background-color: black;
}
footer .footer__link {
  margin-bottom: 2rem;
}
footer .footer__link .footer__link-title {
  color: #d3252b;
  font-family: "akira-bold", sans-serif;
  font-size: 1.5em;
  margin-bottom: 1rem;
}
footer .footer__link ul li {
  width: 250px;
  margin-bottom: 0.7rem;
}
footer .footer__link ul li a {
  padding: 0;
  font-family: "akira-bold", sans-serif;
  font-size: 1em;
  display: inline;
  color: #ffffff;
  position: relative;
}
footer .footer__link ul li a:hover {
  color: #d3252b;
}
footer .footer__link ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #ffffff;
  top: 18.5px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
footer .footer__link ul li a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
footer .footer__link ul .btn__regret a:hover {
  color: #007bff;
  text-shadow: none;
}
footer .footer_icons {
  margin-top: 2.25rem;
}
footer .footer_icons ul {
  padding: 0;
  display: flex;
}
@media (max-width: 768px) {
  footer .footer_icons ul {
    justify-content: center;
  }
}
footer .footer_icons ul .bi {
  font-size: 1.5em;
  color: #ffffff;
}
footer .footer_icons ul .bi:hover {
  color: #d3252b;
}
footer .dividing__line-always {
  border: 0.5px solid #ffffff;
  margin-bottom: 2.25rem;
}
footer .dividing__line-always-vertical {
  border-left: 2px solid #ffffff;
  height: 100%;
}
@media (max-width: 1476px) {
  footer .dividing__line-always-vertical {
    border: 0;
  }
}
@media (max-width: 1399px) {
  footer .dividing__line {
    border: 1px solid #ffffff;
    margin-bottom: 2.25rem;
  }
}
footer .footer__newsletter h6 {
  font-family: "akira-bold", sans-serif;
  font-size: 1.5em;
  color: #ffffff;
}
footer .footer__newsletter h6 span {
  color: #d3252b;
}
footer .footer__newsletter .footer__newsletter-font {
  font-size: 1.275em;
  font-family: "kanit-light", sans-serif;
}
footer .footer__newsletter p {
  color: rgb(150, 150, 150);
}
footer .footer__copyright {
  display: flex;
  justify-content: center;
  padding: 4.5rem;
}
footer .footer__copyright p {
  font-family: "akira-bold", sans-serif;
  font-size: 1.2em;
  color: #ffffff;
}
footer .footer__copyright p span {
  color: #d3252b;
  transition: all 0.6s ease;
}
@media (min-width: 768px) {
  footer .footer__copyright p span:hover {
    margin: 0 1.563rem 0 1.563rem;
    transition: all 0.4s 0s ease;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }
}

.b-tl {
  border-width: 35px 15px 15px 35px;
  border-style: solid;
  border-color: #ffffff;
}

.b-tr {
  border-width: 35px 35px 15px 15px;
  border-style: solid;
  border-color: #ffffff;
}

.b-bl {
  border-width: 15px 15px 35px 35px;
  border-style: solid;
  border-color: #ffffff;
}

.b-br {
  border-width: 15px 35px 35px 15px;
  border-style: solid;
  border-color: #ffffff;
}

.b-l {
  border-width: 35px 15px 35px 35px;
  border-style: solid;
  border-color: #ffffff;
}

.b-m {
  border-width: 35px 25px 35px 25px;
  border-style: solid;
  border-color: #ffffff;
}

.b-r {
  border-width: 35px 35px 35px 15px;
  border-style: solid;
  border-color: #ffffff;
}

@media (max-width: 768px) {
  .b-tl,
  .b-tr,
  .b-bl,
  .b-br,
  .b-l,
  .b-m,
  .b-r {
    border-width: 15px 15px 15px 15px;
    border-style: solid;
    border-color: #ffffff;
  }
}
.image__container {
  position: relative;
  overflow: hidden;
}
.image__container img {
  aspect-ratio: attr(width)/attr(height);
}
.image__container .hover__change {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.4s linear;
  opacity: 0;
}
.image__container:hover .hover__change,
.image__container:hover .hover__change-text {
  opacity: 1;
}

.main__banner {
  aspect-ratio: attr(width)/attr(height);
}

.gridMobile {
  display: none;
}

@media (max-width: 767px) {
  .gridMobile {
    display: block;
  }
  .gridDesktop {
    display: none;
  }
}
@media (max-width: 768px) {
  .gridMargin {
    margin-top: 0px !important;
  }
}

/*# sourceMappingURL=style.css.map */
