#main__carousel {
    border: 35px solid $white;
    img {
        width: 100%;
        height: auto;
    }
    @media (max-width: 768px) {
        border: 15px solid $white !important;
    }
}
@media (min-width: 769px) {
    .desktop-img {
        display: block;
    }
    .mobile-img {
        display: none;
    }
}
@media (max-width: 768px) {
    .desktop-img {
        display: none;
    }
    .mobile-img {
        display: block;
    }
}