.filter__price {
    font-family: 'akira-bold', sans-serif;
    &-button {
        width: 100%;
        height: 50px;
        margin: 17.5px 0 0 0;
        background-color: $white;
        border: 2px solid $black;
        font-size: 1.2em;
        &:hover {
            background-color: #00000030;
        }
    }
    .filter__price-menu {
        width: 100%;
        padding: 0;
        border: 2px solid $black;
        border-radius: 0;
        .filter__price-input {
            display: none !important;
        }
        .line {
            border: 1px solid black;
        }
        .filter__price-label {
            font-size: 1em;
            width: 100%;
            height: 100%;
            text-align: center;
            padding: 0.625rem;
            &:hover {
                background-color: #00000030;
            }
        }
        
        .filter__price-check {
            background-color: #00000030;
        }
    }
}

.filter__category {
    margin-top: 17.5px;
    padding: 17.5px;
    border: 2px solid $black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    &-title {
        margin-top: 17.5px;
        margin-bottom: 2.5px;
        font-size: 1.2em;
        font-family: 'akira-bold', sans-serif;
    }

    .common {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-top: 2px solid $black;
        font-size: 1em;
        font-family: 'telex', sans-serif;
        padding-top: 5px;
    }

    &-product {
        height: 200px;
    }
    
    &-size {
        height: 200px;
    }

    &-color {
        height: 200px;
    }
}
@media (max-width: 1400px) {
    .common {
        flex-wrap: wrap !important;
    }
}