
@use "../base/typography";
@use "../abstracts/variables";

.filter__price {
    .filter__price-button {
        width: 100%;
        height: 50px;
        margin: 17.5px 0px 0px 0px;
        background-color: $white;
        border: 2px solid $black;
        font-size: 0.8rem;
        font-family: 'akira-bold', sans-serif;
        &:hover {
            background-color: #00000030;
        }
    }
    .filter__price-menu {
        width: 100%;
        padding: 0px;
        border: 2px solid $black;
        border-radius: 0;
        .filter__price-input {
            display: none !important;
        }
        .line {
            border: 1px solid black;
        }
        .filter__price-label {
            width: 100%;
            height: 100%;
            text-align: center;
            padding: 10px;
            &:hover {
                background-color: #00000030;
            }
        }
        
        .filter__price-check {
            background-color: #00000030;
        }
    }
}

.filter__category {
    margin-top: 17.5px;
    padding: 17.5px;
    border: 2px solid $black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-y: scroll;

    .filter__category-title {
        margin-top: 17.5px;
        margin-bottom: 2.5px;
        font-size: 0.8rem;
        font-family: 'akira-bold', sans-serif;
    }

    .common {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-top: 2px solid $black;
        font-size: 0.85rem;
        font-family: 'telex', sans-serif;
        padding-top: 5px;
    }

    .filter__category-product {
        height: 175px;
        flex-wrap: nowrap;
        overflow-y: scroll;
    }
    
    .filter__category-size {
        height: 200px;
    }

    .filter__category-color {
        height: 155px;
        flex-wrap: nowrap;
        overflow-y: scroll;
    }
}
@media (max-width: 1400px) {
    .common {
        flex-wrap: wrap !important;
    }
}