.offcanvas {
    width: 500px !important;
    @media (max-width: 768px) {
        width: 100% !important;
    }
    height: 100% !important;
    border: none !important;
    padding-top: 132px;
    .button__checkout {
        position: relative;
        margin: 0 17.5px 17.5px 17.5px;
        padding: 10px;
        border: 2px solid $black;
        color: $black;
        background-color: $white;
        transition: all 0.4s;
        font-size: 0.85rem;
        font-family: "akira-bold", sans-serif;
        &:hover {
            transition: all 0.2s;
            color: $white;
            background-color: $black;
        }
    }
    &-header {
        display: flex;
        align-items: baseline;
        padding: 17.5px !important;
        h5 {
            font-size: 1em;
            font-family: "akira-bold";
        }
        .btn-close {
            opacity: 1;
            margin-right: 0;
            font-size: 0.7rem;
            padding: 13.5px;
            &:hover {
                background-color: #00000030;
            }
        }
    }
}
.offcanvas__card-container {
    height: 100%;
    margin: 17.5px;
    border: 2px solid $black;
    overflow-y: scroll;
    .offcanvas__text {
        margin-top: 17.5px;
        font-size: 0.9rem;
        font-family: "telex", sans-serif;
        text-align: center;
    }
}

.card__cart {
    height: 175px;
    border-bottom: 2px solid $black;
    margin: 10px;
    position: relative;

    .card__title {
        position: absolute;
        top: 0;
        left: 230px;
        width: 150px;
        display: table-caption;
        font-size: 0.85rem;
        font-family: "telex", sans-serif;
    }

    img {
        width: 50%;
        border-right: 2px solid $black;
    }
    .card__buttons-remove {
        position: absolute;
        top: 0;
        right: 0;
        height: 26.39px;
        width: 29.61px;
        background-color: #ff000864;
        font-size: 0.85rem;
        &:hover {
            background-color: #ff0008ca;
        }
        i {
            pointer-events: none;
        }
    }
    .card__price {
        font-size: 1rem;
        position: absolute;
        right: 112px;
        bottom: -12.2px;
    }
    .card__buttons {
        position: absolute;
        bottom: 10px;
        right: 0;
        &-add {
            background-color: $white;
            font-size: 0.85rem;
            &:hover {
                background-color: #00000030;
            }
            i {
                pointer-events: none;
            }
        }
        &-counter {
            font-size: 1rem;
            text-align: center;
        }
        &-reduce {
            background-color: $white;
            font-size: 0.85rem;
            &:hover {
                background-color: #00000030;
            }
            i {
                pointer-events: none;
            }
        }
    }
}
#cart__total {
    text-align: end;
    margin: 17.5px;
    font-size: 1rem;
    font-family: "telex", sans-serif;
}
