.modal {
    z-index: 1050;
    .modal-content {
        position: relative;
        width: 500px;
        padding: 35px;
        border: 0 !important;
        border-radius: 0 !important;
        background-color: $white;
        .btn-close {
            position: absolute;
            top: 17.5px;
            right: 17.5px;
            height: 0.5em;
            width: 0.5em;
            z-index: 5;
            &:focus {
                box-shadow: none;
            }
        }
        .form-group {
            margin-bottom: 1.5rem;
            input {
                margin-top: 0.5rem;
                height: 40px;
                color: $primary-color;
                font-family: 'telex', sans-serif;
            }
            label {
                font-family: 'akira-bold', sans-serif;
            }
        }
        .form-check {
            margin-top: 1.5rem;
        }
        .btn__default {
            margin-top: 1rem;
        }

        span {
            margin-top: 1rem;
            font-size: 1.2em;
            font-family: 'telex', sans-serif;
            font-style: italic;
            a {
                color: $primary-color;
            }
        }
    }
}