//  KANIT 
@font-face {
    font-family: 'kanit-extralight';
    src: url(/assets/fonts/kanit/Kanit-ExtraLight.ttf);
    font-style: normal;
}
@font-face {
    font-family: 'kanit-extralight';
    src: url(/assets/fonts/kanit/Kanit-ExtraLightItalic.ttf);
    font-style: italic;
}
@font-face {
    font-family: 'kanit-light';
    src: url(/assets/fonts/kanit/Kanit-Light.ttf);
    font-style: normal;
}
@font-face {
    font-family: 'kanit-light';
    src: url(/assets/fonts/kanit/Kanit-LightItalic.ttf);
    font-style: italic;
}
@font-face {
    font-family: 'kanit-semibold';
    src: url(/assets/fonts/kanit/Kanit-SemiBold.ttf);
    font-style: normal;
}
@font-face {
    font-family: 'kanit-semibold';
    src: url(/assets/fonts/kanit/Kanit-SemiBoldItalic.ttf);
    font-style: italic;
}

//  Khula
@font-face {
    font-family: 'khula';
    src: url(/assets/fonts/khula/Khula-ExtraBold.ttf);
    font-style: normal;
}

//  Modern
@font-face {
    font-family: 'modern';
    src: url(/assets/fonts/modern/theModernChaos.ttf);
    font-style: normal;
}

//  Telex
@font-face {
    font-family: 'telex';
    src: url(/assets/fonts/telex/Telex-Regular.ttf);
    font-style: normal;
}