.b-tl {
    @include border(35px, 15px, 15px, 35px);
}
.b-tr {
    @include border(35px, 35px, 15px, 15px);
}
.b-bl {
    @include border(15px, 15px, 35px, 35px);
}
.b-br {
    @include border(15px, 35px, 35px, 15px);
}
.b-l {
    @include border(35px, 15px, 35px, 35px);
}
.b-m {
    @include border(35px, 25px, 35px, 25px);
}
.b-r {
    @include border(35px, 35px, 35px, 15px);
}
@media (max-width: 768px) {
    .b-tl,
    .b-tr,
    .b-bl,
    .b-br,
    .b-l,
    .b-m,
    .b-r {
        @include border(15px, 15px, 15px, 15px);
        
    }
}
.image__container {
    position: relative;
    overflow: hidden;
    .hover__change {
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.4s linear;
        opacity: 0;
    }
    &:hover {
        .hover__change,
        .hover__change-text {
            opacity: 1;
        }
    }
}
.gridMobile {
    display: none;
}
@media (max-width: 767px) {
    .gridMobile {
        display: block;
    }
    .gridDesktop {
        display: none;
    }
}
@media (max-width: 768px) {
    .gridMargin {
        margin-top: 0px !important;
    }
}
